# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# DotEnv configuration
.env

# Database
*.db
*.rdb

# Pycharm
.idea

# VS Code
.vscode/

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude data from source control by default
/data/

# Mac OS-specific storage files
.DS_Store

# vim
*.swp
*.swo

# Mypy cache
.mypy_cache/

# data
*.csv
text2table/data/pretokenized/
text2table/data/pretokenized_dev/
text2table/data/data_test.py
text2table/data/dev_data.py
text2table/data/sample_data.py
baseline_xgb/results_bag_of_words

# Training log & Check points
/models/
text2table/models/wandb/
log/

# Temporary Files
text2table/models/evaluation.py
text2table/models/__pycache__

#dask worker space
dask-worker-space/

#notebook
notebooks/dataset_compilation.ipynb
notebooks/baseline_folder/
notebooks/dataset_compilation-Copy1.ipynb
notebooks/xgboost_baseline.ipynb
notebooks/drop_na.ipynb
notebooks/imbalanceness.ipynb

#model copy
text2table/models/modeling_hierarchical_led_copy.py

# baseline model
baseline_xgb/baseline_folder/
